<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>字典管理</title>
</head>
<!--script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script-->
<!--引入静态的路径-->
<script type="text/javascript" src="js/vue.min.js"></script>
<!--script src="https://unpkg.com/element-ui/lib/index.js"></script-->
<script type="text/javascript" src="js/index.js"></script>
<!-- 引入样式 -->
<!--link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"-->
<link rel="stylesheet" href="css/index.css">
<!-- 引入组件库 -->
<!--引入通信框架-->
<!--script src="https://unpkg.com/axios/dist/axios.min.js"></script-->
<script type="text/javascript" src="js/axios.min.js"></script>
<body>
<div id="app">
    <h1 style="background-color: #409EFF;text-align: center;">字典管理</h1>
    <div>
        <el-form :inline="true" class="demo-form-inline">
            <el-form-item label="字典类别">
                <el-select v-model="dictType" clearable  placeholder="选择字典类型">
                    <el-option  v-for="item in dicTypeList"
                                :key="item.dictId"
                                :label="item.dictName"
                                :value="item.dictType">
                    </el-option>
                </el-select>
                <el-form-item label="字典码值">
                    <el-input v-model="dictCode"></el-input>
                </el-form-item>
            </el-form-item>
            <el-form-item>
                <el-button type="primary"  @click="btnQuery">查询</el-button>
                <el-button type="primary" @click="btnAdd">添加</el-button>
       </el-form-item>
        </el-form>
        <!--数据表格--->
        <template>
            <el-table
                    ref="multipleTable"
                    :data="dicList"
                    size="mini"
                    border
                    @selection-change="handleSelectionChange">
                style="width: 100%">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column
                        prop="dictId"
                        label="字典ID"
                        width="120">
                </el-table-column>
                <el-table-column
                        prop="dictType"
                        label="字典类别"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="dictCode"
                        label="字典码值"
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="dictName"
                        label="字典码值名称"
                        width="120">
                </el-table-column>
                <el-table-column
                        label="状态"
                        width="100">
                    <template slot-scope="scope">
                        <el-switch
                                v-model="scope.row.dictStatus"
                                active-value="1"
                                inactive-value="0"
                                active-color="#13ce66"
                                inactive-color="#ff4949">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column
                        label="操作"
                        width="200px"
                >
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="primary"
                                @click="handleEdit(scope.$index, scope.row)">修改</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </template>
        <!--添加对象-->
        <el-dialog
                title="添加"
                :visible.sync="centerDialogVisible"
                width="30%"
                center>
            <el-form ref="SysDicData" :model="SysDicData" label-width="80px">
                <el-form-item label="字典类别">
                    <el-select v-model="SysDicData.dictType"  clearable placeholder="请选择字典类别">
                        <el-option v-for="item in dicTypeList"  :key="item.dictId"
                                   :label="item.dictName"
                                   :value="item.dictType"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="字典码值">
                    <el-input v-model="SysDicData.dictCode"></el-input>
                </el-form-item>
                <el-form-item label="字典名称">
                    <el-input v-model="SysDicData.dictName"></el-input>
                </el-form-item>
                <el-form-item label="字典状态">
                    <el-input v-model="SysDicData.dictStatus"></el-input>
                </el-form-item>
                <el-form-item label="父级字典">
                    <el-input v-model="SysDicData.dictParent"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                    <el-button @click="Cancel">取 消</el-button>
                    <el-button type="primary" @click="submit">确 定</el-button>
                </span>
        </el-dialog>
    </div>
</div>
</body>
</html>
<script>
    new Vue({
        el: "#app",
        //数据
        data() {
            return {
                dicTypeList:[
                    {
                        "dictId":1,
                        "dictName":"性别",
                        "dictType":"1"
                    },
                    {
                        "dictId":2,
                        "dictName":"民族",
                        "dictType":"2"
                    },
                    {
                        "dictId":3,
                        "dictName":"婚姻",
                        "dictType":"3"
                    }
                ],
                dicList:[],
                options:[],
                dictType:"", //字典类型
                dictCode:"", //字典码值
                centerDialogVisible:false,
                SysDicData:{},
                diagTitle:"",
                formLabelWidth: '120px',
                multipleSelection: [],
                currentPage:1,
                pageSize:10,
                total:0,
                dialogImportVisible:false
            }
        },
        //创建之前
        created() {

        },
        //初始化加载数据
        mounted() {
            //获取字典列表
            this.getDicList(this.currentPage,this.pageSize,{"dictType":"","dictCode":""})
        },
        methods: {
            //页数大小改变
            handleSizeChange(pagesize){
                this.pageSize = pagesize
                this.getDicList(this.currentPage,this.pageSize,{"dictType":""})
            },
            //处理当前页变化
            handleCurrentChange(CurrentChange){
                this.currentPage = CurrentChange
                this.getDicList(this.currentPage,this.pageSize,{"dictType":""})
            },
            //多选
            handleSelectionChange(selection){
               this.multipleSelection = selection;
            },
            //编辑数据
            handleEdit(index, row) {
                //数据赋值
                this.SysDicData = row;
                this.centerDialogVisible = true
                this.diagTitle = "修改字典"
            },
            //删除数据
            handleDelete(index, row) {
                this.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //删除字典
                    axios.delete("/springboot/dict/removeDictById/"+row.dictId).then((res => {
                        this.$notify({
                            title: res.data.code === 200  ? "修改成功" : "修改失败",
                            message: res.data.msg,
                            type: res.data.code === 200  ? "success" : "error"
                        });
                        //绑定表格数据
                        if (res.data.code === 200) {
                            //调用获取列表
                            this.btnQuery();
                        }
                    }));

                }).then((response) => {
                    this.getDictList()
                    this.$message.success("删除成功")
                }).catch(error => {
                    this.$message.info('取消删除')

                })
            },
            //查询数据
            btnQuery(){
                this.getDicList(this.currentPage,this.pageSize,{"dictType":this.dictType,"dictCode":this.dictCode})
            },
            //添加字典
            btnAdd(){
                this.SysDicData = {}
                this.centerDialogVisible = true;
            },
            Cancel(){
                this.centerDialogVisible = false;
                tihs.SysDicData = {}
            },
            //添加字典
            submit(){
                console.log(this.SysDicData)
                //获取字典ID
                if(this.SysDicData.dictId){
                    //修改
                    axios.put("/springboot/dict/updateDictById", this.SysDicData).then((res => {
                        this.$notify({
                            title: res.data.code === 200  ? "修改成功" : "修改失败",
                            message: res.data.msg,
                            type: res.data.code === 200  ? "success" : "error"
                        });
                        //绑定表格数据
                        if (res.data.code === 200) {
                            this.centerDialogVisible = false
                            this.SysDicData = {}
                            //调用获取列表
                            this.btnQuery();
                        }else{

                        }
                    }));
                }else{
                    //新增
                    axios.post("/springboot/dict/saveDict",this.SysDicData).then((res => {
                    this.$notify({
                            title: res.data.code === 200  ? "新增成功" : "新增失败",
                            message: res.data.msg,
                            type: res.data.code === 200  ? "success" : "error"
                        });
                        //绑定表格数据
                        if (res.data.code == 200) {
                            this.centerDialogVisible = false
                             tihs.SysDicData = {}
                             //调用获取列表
                            this.getDicList(this.currentPage,this.pageSize,{"dictType":"","dictCode":""})
                        }
                    }));
                }
            },


            //获取字段数据
            getDicList(currentPage,pageSize,params){
                axios.post("/springboot/dict/getDictListByPage/"+currentPage+"/"+pageSize, params).then((res => {
                    console.log(res.data)
                    this.$notify({
                        title: res.data.code === 200  ? "成功" : "失败",
                        message: res.data.msg,
                        type: res.data.code === 200  ? "success" : "error"
                    });
                    //绑定表格数据
                    if (res.data.code === 200) {
                        this.dicList = res.data.data.records
                        this.total = res.data.data.total
                        this.currentPage = res.data.data.pages
                        this.pageSize= res.data.data.size
                    }
                }));
            }
        }

    });
</script>
<style scoped>

</style>